.navigation {
  width: 100%;
  height: 4.5em;
  border-bottom: 2px solid #575757fa;
  background: rgba(245, 245, 245, 0.952);
}

.navBrand {
  height: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #8f8f8ffa;
  transform: scale(1);
  transition: 0.2s;
}

.navBrand:hover {
  text-decoration: none;
  color: #333333fa;
  transform: scale(1.05);
}

.navBrand img {
 width: 4.5em;
 display: block;
}

.navBrand h1 {
 margin-left: 0.25em;
 font-size: 1em;
 letter-spacing: 0.08em;
 transition: 0.3s;
}


