@import url('https://fonts.googleapis.com/css?family=Lora|Playball');

html {
  min-width: 275px;
}

body {
  margin: 2%;
  font-size: 16px;
  background: whitesmoke;
  font-family: sans-serif;
}

.gamePriceTrackerButton{
    margin: 0.5em;
}