.suggestion {
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestionImage{
  width: 10%;
  float: right;
}

.autoSuggestionsDropdownToggle {
  visibility: hidden;
  padding: 0;
}
